.item-component {
  background: $blueCool;
  margin-bottom: 1.5em;
  padding-bottom: 3em;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: $yellowPastel;
    color: $blueDeep;
  }

  h5,
  img {
    cursor: pointer;
  }

  img {
    border-radius: 2%;
    text-align: center;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
