.item-component {
  display: flex;
  align-items: center;
  margin: 1em 0;
  padding: 1em 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: $yellowPastel;
    color: $blueDeep;
  }

  h5,
  img {
    cursor: pointer;
  }

  img {
    max-width: 15em;
    max-height: 10em;
    border-radius: 2%;
    text-align: center;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
